@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #000000;
}

body {
  margin: 0;
  background: #000000;
  color: #ffffff;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
